{% extends "profileApplications.html" %}

{% block application_content %}

<form action="/profile/applicationcontent" method="post">
<input type="hidden" id="selectedCopyTitle" name="selectedCopyTitle" value="{{selectedCopy.book.title}}">
<input type="hidden" id="owner" name="owner" value={{selectedCopy.user}}>
<input type="hidden" id="requestKey" name="requestKey" value={{request.key}}>



{% ifequal request.state "Sin contestar" %}
    <div style="text-align: center" id="confirmRequestResponse">
        <input type="submit" class="btn primary" name="action" value="Cancelar">
    </div>
{% endifequal %}

{% ifequal request.state "Negociando" %}


    {% ifequal selectedCopy.offerType "Intercambio" %}
        {% ifequal request.exchangeType "Indirecto" %}
            <div ><strong>Te han propuesto un intercambio indirecto.</strong></div>
        {% endifequal %}
        {% ifequal request.exchangeType "Directo"%}
        <div ><strong>Te han propuesto...</strong></div>  <!-- debe mostrar el libro que me ofrecen -->
        <table id="exchangeTable" class="zebra-striped sortable">
            <thead>
                <tr>
                    <th class="header red">Título</th>
                    <th class="header red">Autor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{request.exchangeCopy.book.title}}</th>
                    <th>{{request.exchangeCopy.book.author}}</th>
                </tr>
            </tbody>
        </table>
        {% endifequal %}
    {% endifequal %}
    <div style="text-align: center" id="confirmRequestResponse">
        <input type="submit" class="btn primary" name="action" value="Confirmar">
        <input type="submit" class="btn primary" name="action" value="Cancelar">
    </div>

{% endifequal %}

{% ifequal request.state "Aceptada" %}
    {% ifequal selectedCopy.offerType "Intercambio" %}
        {% if request.llegaCopia1 %}
            <p><strong>Esperando que {{selectedCopy.user}} reciba el libro... </p>
        {% else %}
            {% ifequal selectedCopy.offerState "Esperando recepcion" %}
                <div style="text-align: center" id="confirmRecieved">
                    <input type="submit" class="btn primary" name="action" value="Recibido!"> <!--  poner la fecha y hora del sistema -->
                </div>
            {% endifequal %}
        {% endif %}

    {% else %}
        {% ifequal selectedCopy.offerState "Esperando recepcion" %}
                <div style="text-align: center" id="confirmRecieved">
                    <input type="submit" class="btn primary" name="action" value="Recibido!"> <!-- poner la fecha y hora del sistema -->
                </div>
        {% endifequal %}
        {% ifequal selectedCopy.offerState "Prestado" %}
            <p><strong>Esperando que {{selectedCopy.user}} reciba el libro de vuelta... </p>
        {% endifequal %}
    {% endifequal %}
{% endifequal %}


</form>

<div id="comments">
    <h6>Mensajes</h6>
    {% for c in comments %}
        <blockquote>
            <p>{{c.comment.text}}</p>
            <small> <a href="/user/details?selectedUser={{c.comment.user.email}}"><img class="avatar-tiny" src='/img?user={{c.comment.user.email}}' alt="Avatar del usuario"></a> {{c.comment.user.nickname}} ({{c.comment.date|date:"Y-m-d H:i:s"}})</small>
        </blockquote>
    {% endfor %}
    <a id="newcomment" href="#">Añade un nuevo mensaje...</a>
    <form class="hide" id="commentform" action="/profile/offers/comment/new?request={{request.key}}" method="post">
        <fieldset>
            <div class="clearfix">
                <label for="comment">Texto</label>
                <div class="input">
                    <textarea class="xlarge" name="comment" id="comment" rows="3"></textarea>
                </div>
            </div>
            <div class="actions">
                <input id="submitcomment" type="submit" class="btn primary" value="Enviar mensaje" />
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
