{% extends "profileApplications.html" %}

{% block application_content %}

<form action="/profile/applicationcontent" method="post">
<input type="hidden" name="selectedCopyTitle" value="{{selectedCopy.book.title}}">
<input type="hidden" name="owner" value="{{selectedCopy.user}}">
    
{% ifequal request.state "Negociando" %}


    {% ifequal selectedCopy.offerType "Intercambio" %}
        {% ifequal request.exchangeType "Indirecto" %}
            <div ><strong>Te han propuesto un intercambio indirecto.</strong></div>
        {% endifequal %}
        {% ifequal request.exchangeType "Directo"%}
        <div ><strong>Te han propuesto...</strong></div>  <!debe mostrar el libro que me ofrecen>
        <table id="exchangeTable" class="zebra-striped sortable">
            <thead>
                <tr>
                    <th class="header red">Título</th>
                    <th class="header red">Autor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{request.exchangeCopy.book.title}}</th>
                    <th>{{request.exchangeCopy.book.author}}</th>
                </tr>
            </tbody>
        </table>
        {% endifequal %}
    {% endifequal %}
    <div style="text-align: center" id="confirmRequestResponse">
        <input type="submit" class="btn primary" name="processConfirm" value="Confirmar">
    </div>
    
{% endifequal %}

{% ifequal request.state "Aceptada" %}
    {% ifequal selectedCopy.offerType "Intercambio" %}
        {% if request.llegaCopia1 %}
            <p><strong>Esperando que {{selectedCopy.user}} reciba el libro... </p>
        {% else %}
            {% ifequal selectedCopy.offerState "Esperando recepcion" %}
                <div style="text-align: center" id="confirmRecieved">
                    <input type="submit" class="btn primary" name="processConfirm" value="Recibido!"> <! poner la fecha y hora del sistema>
                </div>
            {% endifequal %}
        {% endif %}
        
    {% else %}
        {% ifequal selectedCopy.offerState "Esperando recepcion" %}
                <div style="text-align: center" id="confirmRecieved">
                    <input type="submit" class="btn primary" name="processConfirm" value="Recibido!"> <! poner la fecha y hora del sistema>
                </div>
        {% endifequal %}
        {% ifequal selectedCopy.offerState "Prestado" %}
            <p><strong>Esperando que {{selectedCopy.user}} reciba el libro de vuelta... </p>
        {% endifequal %}
    {% endifequal %}
{% endifequal %}    

</form>
{% endblock %}