{% extends "copyOffers.html" %}



{% block appliant_copies %}


<p style="margin-top:50px">Libros que posee el usuario {{appliantUser}}</p>
<form action="/profile/appliantcopies" method="post">
    <input type="hidden" value={{appliantUser}} name="appliant">
    <input type="hidden" value="{{selectedCopy.book.title}}" name="selectedCopyTitle">
    <table class="zebra-striped sortable" id="appliantCopiesTable">
        <thead>
            <tr>
                <th></th>
                <th class="blue header">Libro</th>
                <th class="blue header">Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for appCopy in appliantCopies %}
            <tr>
                <th><input type="radio" name="appliantCopiesRadios"></th>
                <th>{{appCopy.book.title}}</th>
                <th>{{appCopy.book.author}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center" id="exchange-buttons2">
        <input type="submit" class="btn primary disabled" name="processOffer" value="Proponer este libro para intercambio">
    </div>
    
    {% ifequal request.exchangeType "Directo" %}
        <p style="margin-top:50px"><strong>Intercambiar por: {{request.exchangeCopy.book.title}} </strong></p>
    {% endifequal %}
    
</form>
{% endblock %}