{% extends "copyOffers.html" %}



{% block appliant_copies %}




<div id="appliantCopies">
    {% ifequal request.exchangeType "Directo" %}
        <p style="margin-top:50px"><strong>Intercambiar por: {{request.exchangeCopy.book.title}} </strong></p>
    {% endifequal %}
    {% ifequal request.exchangeType "Indirecto" %}
        <p style="margin-top:50px"><strong>Se est&aacute negociando un intercambio indirecto. </strong></p>
    {% endifequal %}
    <p style="margin-top:20px">Libros que posee el usuario {{appliantUser}}:</p>
    <input type="hidden" value="{{appliantUser}}" name="appliant">
    <input type="hidden" value="{{selectedCopy.book.title}}" name="selectedCopyTitle">
    <table class="zebra-striped sortable" id="appliantCopiesTable">
        <thead>
            <tr>
                <th></th>
                <th class="blue header">Libro</th>
                <th class="blue header">Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for appCopy in appliantCopies %}
            <tr>
                <td><input type="radio" name="appliantCopiesRadios" value="{{appCopy.key}}"></td>
                <td>{{appCopy.book.title}}</td>
                <td>{{appCopy.book.author}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}