<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Léetelo{% if subtitle %} - {{subtitle}}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cupertino/jquery-ui-1.8.16.custom.css"/>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/bootstrap-alerts.js"></script>
    <script type="text/javascript" src="/static/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/bootstrap-twipsy.js"></script>
    <script type="text/javascript" src="/static/bootstrap-popover.js"></script>
    <script type="text/javascript" src="/static/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/static/base.js"></script>


    {% block head %} {% endblock %}
</head>

<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <a id="logo" class="nav" href="/">Léetelo</a>
                <ul class="nav">
                    <li {% block nav_index %} {% endblock %}><a href="/">Inicio</a></li>
                    <li {% block nav_search %} {% endblock %}><a href="/search">Buscador</a></li>
                    {%if user %}
                    <li {% block nav_profile %} {% endblock %}><a href="/profile">Perfil</a></li>
                    <li {% block nav_club %} {% endblock %}><a href="/club">Clubes</a></li>
                    <li><a href="{{logoutUri}}">Cerrar sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% if user %}
    {% else %}
    <div class="container">
        <div class="alert-message warning fade in">
            <a class="close" href="#">×</a>
            <p><strong>¡Hola anónimo!</strong> Si quieres disfrutar al máximo de léetelo
                <a href="{{newUserUri}}">registrate</a> o
                <a href="{{loginUri}}">inicia sesión</a> ahora.</p>
        </div>
    </div>
    {% endif %}

    <div class="container" id="main-container">

        {% block content %}
        {% endblock %}
    </div>

</body>

</html>
