{% extends "base.html" %}
 {% block content %}
<div class="row">
	<div id="modal-error" class="modal hide fade">
		<div class="modal-header">
			<a href="#" class="close">x</a>
			<h3>Error al realizar la solicitud</h3>
		</div>
		<div class="modal-body">
			<p>Error</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn primary">Aceptar</a>
		</div>
	</div>
	{% if error %}
		<div id="error-message" class="alert-message block-message error">
			<p>El libro indicado no existe.</p>
		</div>
	{% else %}
		<div class="span7">
			<form>
				<fieldset>
					<legend>Detalles del libro</legend>
					<div class="clearfix" >
						<div class="input">
						<span> <img src="{{book.image}}" width='170' style="border:1px gray;"></img></span>
						</div>
					</div>
					<div class="clearfix">
						<label>T&iacutetulo</label>
						<div class="input">
							<span class="uneditable-input">{{book.title}}</span>
						</div>
					</div>
					<div class="clearfix">
						<label>Autor</label>
						<div class="input">
							<span class="uneditable-input">{{book.author}}</span>
						</div>
					</div>
					<div class="clearfix">
						<label>Género</label>
						<div class="input">
							<span class="uneditable-input">{{book.genre}}</span>
						</div>
					</div>
					<div class="clearfix">
						<label>Año</label>
						<div class="input">
							<span class="uneditable-input">{{book.year}}</span>
						</div>
					</div>
				</fieldset>
			</form>

		</div>
		<div class="span9">
			<h6>Ejemplares disponibles</h6>
			<table id="copiesTable" class="zebra-striped sortable">
				<thead>
					<tr>
						<th class="header blue">Propietario</th>
						<th class="header blue">Editorial</th>
						<th class="header blue">Disponibilidad</th>
						<th class="header blue">Petición</th>
					</tr>
				</thead>
				<tbody>
					{% for copy in copies %}
						<tr>
							<td>{{copy.user.nickname}}</td>
							<td>{{copy.user.edition}}</td>
							<td>{{copy.user.offerType}}</td>
							<td><a class="btn primary" href="#">Solicitar</a><span class="hide">{{copy.key}}</span></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
			<h6>Comentarios</h6>
		        {% for c in comments %}
			        <blockquote>
					<p>{{c.comment.text}}</p>
					<small> <a href="/user/details?selectedUser={{c.comment.user.email}}"><img class="avatar-tiny" src='/img?user={{c.comment.user.email}}' alt="Avatar del usuario"></a> {{c.comment.user.nickname}} ({{c.comment.date|date:"Y-m-d H:i:s"}})</small>
			        </blockquote>
			{% endfor %}
			<a id="newbookcomment" href="#">Añade un nuevo comentario...</a>
		        <form class="hide" id="bookcommentform" action="/book/details/comment/new?selectedBook={{book.key}}" method="post">
				<fieldset>
					<div class="clearfix">
						<label for="titleBook">Texto</label>
						<div class="input">
							<textarea class="xlarge" name="bookcomment" id="bookcomment" rows="3"></textarea>
						</div>
					</div>
					<div class="actions">
						<input type="submit" class="btn primary" value="Publicar" />
					</div>
				</fieldset>
		        </form>
			{% if lastComment %}
				{% ifequal lastComment.comment.user.email user.email %}
					<p><a id="removebookcomment" href="/book/details/comment/delete?selectedBook={{book.key}}">Borrar &uacuteltimo comentario</a></p>
					<p><a id="modifybookcomment" href="#"><span class="hide">{{book.key}}</span>Modificar &uacuteltimo comentario</a></p>
				{% endifequal %}
			{% endif %}
		</div>
	{% endif %}
</div>
{% endblock %}
