{% extends "base.html" %}

{% block nav_profile_copies %} class="active" {% endblock %}

{% block content %}

<div class="row">
    <div class="span4">
		{% if error %}
		    <div id="error-message" class="alert-message block-message error">
		        <p><strong>Error al introducir lo datos. {{textoerror}}</strong> Por favor comprueba que son correctos</p>
		    </div>
		{% endif %}

        <div class="alert-message block-message warning">
            <p>Ten en cuenta que el libro debe ser admitido por un <strong>administrador</strong>
               antes de que aparezca en nuestra biblioteca. Aeg&uacuterate de que el
               libro que vas a introducir no existe ya en nuestra biblioteca
               utilizando nuestro <a href="/search">buscador</a>.
               </p>
        </div>
    </div>
    <div class="span8">
        <form action="/book/new" method="post">
            <fieldset>
                <legend>Nuevo libro</legend>
                <div class="clearfix">
                    <label for="title">T&iacutetulo</label>
                    <div class="input">
                        <input data-placement="right" rel='twipsy' title="Este libro ya existe" class="xlarge" id="title" name="title" size="90" type="text">
                    </div>
                </div>
                <div class="clearfix">
                    <label for="author">Autor</label>
                    <div class="input">
                        <input class="xlarge" id="author" name="author" size="90" type="text">
                    </div>
                </div>
                <div class="clearfix">
                    <label for="genre">G&eacutenero</label>
                    <div class="input">
                        <select class="xlarge" id="genre" name="genre">
                            <option>Aventuras</option>
                            <option>Biograf&iacutea</option>
                            <option>Ciencia Ficción</option>
                            <option>Ensayo</option>
                            <option>Hist&ocauterico</option>
                            <option>Narrativa</option>
                            <option>Novela</option>
                            <option>Poes&iacutea</option>
                            <option>Romántico</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="year">A&ntildeo</label>
                    <div class="input">
                        <input class="xlarge" id="year" name="year" type="number" min="868" max ="2011" step="1" value="2011" />
                    </div>
                </div>
                <div class="clearfix">
                    <label for="image">Im&aacutegen</label>
                    <div class="input">
                        <input class="xlarge" id="image" name="image" type="text" value="http://" size="90"/>
                    </div>
		</div>
		<div class="clearfix centerrow">
		    <a id="checkimage" href="#">Comprobar imagen</a>
		    <img id="bookimage" style="border:1px solid grey" src="/static/img/error.jpg" class="thumbnail book-cover">
		</div>
			
                <div class="actions">
                    <input type="submit" class="btn primary" value="Añadir ejemplar">
                    <a href="/profile/copies" class="btn">Cancelar</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
