{% extends "profileOffers.html" %}

{% block copy_offers %} 
                        
<p> <strong> Mostrando ofertas para: </strong>{{selectedCopy.book.title}}</p>
<p> <strong> Tipo de transacci&oacuten: </strong>{{selectedCopy.offerType}}</p>

    
<form action="/profile/copyoffers" method="post">
    <input type="hidden" value="{{selectedCopy.book.title}}" name="selectedCopyTitle">
    <table class="bordered-table sortable" id="offersTable">
        <thead>
            <tr>
                <th></th>
                <th class="blue header">Lo quiere...</th>
                <th class="blue header">Calificaci&oacuten</th>
                <th class="blue header">Estado de la transacci&oacuten</th>
                <th class="blue header"> </th>
            </tr>
        </thead>
        <tbody>
            {% for offer in copyOffers %}
            <tr>
                {% ifequal selectedCopy.offerType "Intercambio"%}
                    <th><input type="radio" name="offersRadios" value={{offer.user}} onclick = "window.location.href='/profile/appliantcopies?selectedCopyTitle={{selectedCopy.book.title}}&appliant={{offer.user}}'"></th>
                {% else %}
                    <th><input type="radio" name="offersRadios" value={{offer.user}}></th>
                {% endifequal %}
                
                <th class="appliant-column-name">{{offer.user}}</th>
                <th>****</th>
                <th class="offer-state-column">{{offer.state}}</th>
                <th><a href="#" class="btn">Enviar Mensaje</a> </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center" id="exchange-buttons">
        {% ifequal selectedCopy.offerType "Intercambio" %}
            <input type="submit" class="btn primary disabled" name="processOffer" value="Proponer intercambio indirecto">
        {% endifequal %}
        {% ifequal selectedCopy.offerType "Venta" %} <input type="submit" class="btn primary disabled" name="processOffer" value="Vender">{% endifequal %}
        {% ifequal selectedCopy.offerType "Prestamo" %} <input type="submit" class="btn primary disabled" name="processOffer" value="Prestar">{% endifequal %}
    
        <input type="submit" class="btn primary disabled" name="processOffer" value="Rechazar oferta">    
    </div>
</form>
{% block appliant_copies %}{% endblock %}



{% endblock %}
