{% extends "profileOffers.html" %}

{% block exchange %}
<p><strong> Tipo de transacci&oacuten: </strong>{{selectedCopy.offerType}}</p>
<p><strong> Tipo de intercambio: </strong>{{request.exchangeType}}</p>
<p><strong>Libro:</strong> {{selectedCopy.book.title}}</p>
<p><strong>Intercambiado a:</strong> {{request.user}}</p>

{% ifequal selectedCopy.exchangeType "Indirecto" %}
    <p><strong>Esperando que {{request.user}} reciba el libro... </p>
{% else %}
    <input type="hidden" value="{{selectedCopy.book.title}}" name="selectedCopyTitle">
    <p><strong>Por:</strong> {{request.exchangeCopy.book.title}}</p>
    <p><strong>Para que el intercambio quede completado, debe hacer click aqu&iacute cuando reciba el libro. </p>
    <form method="post">
    <div style="text-align: center">
        <input class="btn primary" name="saveDateForExchange" value="Ya he recibido el libro">
    </div>
</form>
{% endifequal %}

{% endblock %}