
{% extends "base.html" %}

{% block nav_index %} class="active" {% endblock %}

{% block content %}
<div class="row">
  <div class="span16">
    <img src="static/img/cover.jpg">
  </div>
</div>
<div class="row">
  <div class="span8 centerrow">
    <a href="http://tuneup.dsic.upv.es/Descargas.aspx"><img style="width:200px;height:200px;" src="static/img/publi.jpg"></a>
  </div>
  <div class="span8">
    <h4>¡Comparte tus libros y consigue libros nuevos!</h4>
    <p>
    Entra en nuestra red social, comparte tus libros ya leidos, busca libros que
    comparten los demás e intercambialos por los tuyos.
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut dui ligula, quis imperdiet diam. Aliquam viverra faucibus condimentum. Quisque at ultricies ipsum. Quisque lobortis convallis faucibus. Donec sollicitudin vulputate ullamcorper. Quisque tortor nunc, dignissim non ullamcorper in, volutpat facilisis mauris. Praesent congue orci arcu, at imperdiet velit. Pellentesque bibendum massa ut magna venenatis sed vestibulum orci commodo. Pellentesque consequat elementum urna non tempus. Duis nisi nunc, tempor nec lobortis eget, posuere ac nibh. Aliquam sodales ipsum eu magna tristique id aliquam lectus commodo. Sed id nisi et felis egestas ultrices. Etiam rutrum fringilla orci, non tempor orci scelerisque vehicula. Praesent eget diam eu orci sollicitudin aliquam.</p>
  </div>
</div>
{% endblock %}

