{% extends "profileOffers.html" %}

{% block loan %}
<p> <strong> Tipo de transacci&oacuten: </strong>{{selectedCopy.offerType}}</p>
<p><strong>Libro:</strong> {{selectedCopy.book.title}}</p>
<p><strong>Prestado a:</strong> {{request.user}}</p>

{% ifequal selectedCopy.offerState "Esperando recepcion" %}
    <p><strong>Esperando que {{request.user}} reciba el libro... </p>
{% else %}
<form action="/profile/loan" method="post">
    <p><strong>Para que el pr&eacutestamo quede completado, debe hacer click aqu&iacute cuando su libro le sea devuelto. </p>
    <input type="hidden" value="{{selectedCopy.book.title}}" name="selectedCopyTitle">
    <div style="text-align: center">
        <input type="submit" class="btn primary" name="saveDateForLoan" value="Ya me han devuelto el libro">
    </div>
</form>
{% endifequal %}

{% endblock %}