{% extends "profile.html" %}

{% block nav_profile_club %} class="active" {% endblock %}

{% block profileContent %}


<div class="row">
    <div class="span7">
       <form action="/profile/dataclub?selected={{selectedClub.key}}" method="post">
            <fieldset>
                <legend>Detalles del Club</legend>
                <div class="clearfix media-grid centerrow">
                    <img class="thumbnail book-cover" src="{{selectedClub.image}}" alt="{{selectedClub.name}}">
                </div>
                <div class="clearfix">
                    <label>Nombre</label>
                    <div class="input">
                        <span class="uneditable-input">{{selectedClub.name}}</span>
                    </div>
                </div>
                <div class="clearfix">
                    <label>Description</label>
                    <div class="input">
                        <span class="uneditable-input">{{selectedClub.description}}</span>
                    </div>
                </div>
                <div class="clearfix">
                    <label>Género</label>
                    <div class="input">
                        <span class="uneditable-input">{{selectedClub.genre}}</span>
                    </div>
                </div>
                <div class="clearfix">
                    <label>Autor</label>
                    <div class="input">
                        <span class="uneditable-input">{{selectedClub.author}}</span>
                    </div>
                </div>
               <div class="clearfix">
                 <label>Libro</label>
                 <div class="input">
                    <span class="uneditable-input">{{selectedClub.book.title}}</span>
                 </div>
               </div>
               <div class="clearfix">
                    <label>Invitados</label>
                    <div class="input">
                        <span class="uneditable-input">{{selectedClub.invitaciones}}</span>
                    </div>
                </div>
               <div class="actions">
                  <a href="/profile/copies" class="btn">Volver</a>
                </div>
            </fieldset>
        </form>
    </div>
            
{% endblock %}

