{% extends "profile.html" %}

{% block nav_profile_offers %} class="active" {% endblock %}

{% block profileContent %}


    <h6> Contenido de las ofertas </h6>
    <div class="row">
        <div class="span4">
            <b> Selecciona el libro ofertado: </b> 
                <div class="clearfix">
                  <div class="input">
                        <select multiple="multiple" size="20" name="offerSelection" id="offerSelection">        
                            {% for copy in copies %}
                                {% ifequal copy.offerState "Con solicitud"%}
                                    <option onclick="window.location.href='/profile/copyoffers?selectedCopyTitle={{copy.book.title}}'">
                                        {{copy.book.title}}
                                    </option>
                                {% else %}
                                    {% ifequal copy.offerState "Esperando confirmacion"%}
                                        <option onclick="window.location.href='/profile/copyoffers?selectedCopyTitle={{copy.book.title}}'">
                                           {{copy.book.title}}
                                        </option>
                                    {% else %}
                                        {% ifequal copy.offerType "Venta" %}
                                            <option onclick="window.location.href='/profile/sale?selectedCopyTitle={{copy.book.title}}'">
                                                {{copy.book.title}}
                                            </option>
                                        {% endifequal%}
                                        {% ifequal copy.offerType "Prestamo" %}
                                            <option onclick="window.location.href='/profile/loan?selectedCopyTitle={{copy.book.title}}'">
                                                {{copy.book.title}}
                                            </option>
                                        {% endifequal%}
                                        {% ifequal copy.offerType "Intercambio" %}
                                            <option onclick="window.location.href='/profile/exchange?selectedCopyTitle={{copy.book.title}}'">
                                                {{copy.book.title}}
                                            </option>
                                        {% endifequal%}
                                    {% endifequal %}
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
        </div>
        <div class="span12">
            {% block copy_offers %} {% endblock %}
            {% block sale %}        {% endblock %}
            {% block loan %}        {% endblock %}
            {% block exchange %}    {% endblock %}
        </div>
    </div>




{% endblock %}