<label for="mislibros"></label>
 {% extends "profile.html" %}

{% block nav_profile_copies %} class="active" {% endblock %}

{% block profileContent %}




<script type="text/javascript">

/*
	$('#TipoOferta').change(function()
		{
			alert("molee");
		   //alert('Value change to ' + $(this).attr('value'));
		});
*/
function JSTipoOferta()
{
	var opc_sel=$('#TipoOferta').attr('value');
    if(opc_sel == 'Venta')
    {
    	$("#idprecio").css("display", "block");
        /*$("#idprecio").toggle(200);*/
    }
    else
    {
    	$("#idprecio").css("display", "none");
 		/*$("#idprecio").toggle(200);*/
    }

    if(opc_sel != 'Ninguna')
    {
    	$("#idfecha").css("display", "block");

    }else{$("#idfecha").css("display", "none");}
}


$(document).ready(function() {
      if(!getParameter('selectedCopyTitle') && $('#autorBook').text()==""){
  		ShowSelected();
      }

	/*Ocultar/Mostra los campos segun valores de select*/
	JSTipoOferta();

    });



function getParameter(parameter){
	// Obtiene la cadena completa de URL
	var url = location.href;
	/* Obtiene la posicion donde se encuentra el signo ?,
	ahi es donde empiezan los parametros */
	var index = url.indexOf("?");
	/* Obtiene la posicion donde termina el nombre del parametro
	e inicia el signo = */
	index = url.indexOf(parameter,index) + parameter.length;
	/* Verifica que efectivamente el valor en la posicion actual
	es el signo = */
	if (url.charAt(index) == "="){
		// Obtiene el valor del parametro
		var result = url.indexOf("&",index);
		if (result == -1){result=url.length;};
		// Despliega el valor del parametro
	return (url.substring(index + 1,result));
	}
	}


		function ShowSelected()
		{
			var combo = document.getElementById("titleBook");
			var selected = combo.options[combo.selectedIndex].text;
			window.location="/profile/newcopy?selectedCopyTitle="+selected;
		}

		</script>

<h6>A?adir un nuevo ejemplar de...</h6>

<div class="alert-message block-message info fade in">
	<a href="#" class="close">x</a>
	<p>¿No encuentras el libro que buscabas? <strog><a href="/book/new">Añade tu libro</a></strog> en nuestra biblioteca.</p>
</div>

<div class="row">

<form action="/profile/newcopy?selectedCopyTitle={{selectedCopy.book.title}}" method="post">
	<fieldset>
		<legend></legend>

         <div class="clearfix">
		<label for="titleBook">Libro</label>
				<div class="input">
				  <select id="titleBook" name="titleBook" onchange="javascript:ShowSelected();">

				{% for b in books %}
					{% ifequal book.title b.title %}
					<option SELECTED>{{b.title}}</option>
					{% endifequal %}
					{% ifnotequal b.title book.title %}
        			<option>{{b.title}}</option>
    				{% endifnotequal %}
				{% endfor %}

			      </select>
          		  </div>
	  	</div>


		<div class="clearfix">
			<label for="Autor">Autor:</label>
			<div id="autorBook" class="input">
			{{book.author}}
			</div>
		</div>
		<div class="clearfix">
			<label for="Genero">Genero: </label>
	    	<div class="input">
			{{book.genre}}
			</div>
	    </div>

		<hr></hr>




	  <div>

	  <div class="clearfix">
		<label for="edicion">Edicion</label>
		<div class="input">
			<input type="text" name="Edicion" id="edicion"/>
		</div>
	  </div>

	  <div class="clearfix">
		<label for="formato">Idioma</label>
				<div class="input">
				<p>
				  <select name="Idioma">
				    <option>Castellano</option>
					<option>Valenciano</option>
					<option>Ingles</option>
					<option>Frances</option>
					<option>Aleman</option>
					<option>Otros</option>
			      </select>
          		  </p>
                  </p>
				</div>
	</div>


	  <div class="clearfix">
		<label for="paginas">Numero de Paginas</label>
		<div class="input">
			<input type="text" name="Paginas" id="paginas"/>
		</div>
	  </div>

	  <div class="clearfix">
		<label for="formato">Formato</label>
				<div class="input">
				<p>

				  <select name="Formato">
				    <option>Bolsillo</option>
					<option>Tapa dura</option>
                                        <option>Tapa blanda</option>
					<option>Coleccionista</option>

			      </select>
          		  </p>
                  </p>
				</div>
	</div>


	<div class="clearfix">
		<label for="TipoOferta">Tipo de oferta</label>
				<div class="input">
				  <select id="TipoOferta" name="TipoOferta" onchange="javascript:JSTipoOferta();">
				  	<option value="Ninguna">Ninguna</option>
				    <option value="Venta">Venta</option>
					<option value="Intercambio">Intercambio</option>
					<option value="Prestamo">Prestamo</option>
				  </select>
				</div>
	</div>



	  <div id="idprecio" class="clearfix">
		<label for="precio">Precio</label>
		<div class="input">
			<input type="text" name="precio" id="precio" />
		</div>
	  </div>

	  <div id="idfecha" class="clearfix">
		<label for="fechaLimite">Fecha l?mite(dd/mm/aaaa)</label>
		<div class="input">
			<input type="text" name="fechaLimite" id="fechaLimite" />
		</div>
	  </div>

	  </div>
		<div class="actions">
		  <input type="submit" class="btn primary" value="A?adir ejemplar" />
		  <a href="/profile/copies" class="btn">Cancelar</a>
		</div>
	</fieldset>
</form>
</div>

{% endblock %}
