{% extends "profile.html" %}

{% block nav_profile_club %} class="active" {% endblock %}

{% block profileContent %}

<div class="row">
    <div class="span16">
        <h6>Evento {{event.name}} del club {{event.club.name}}</h6>
    </div>
</div>

<div class="row">
    <div class="span14 offset1">
        <div class="alert-message block-message info">
            <p><strong>Lugar</strong>: {{event.place}}</p>
            <p><strong>Fecha</strong>: {{event.date}}</p>
            <br>
            <p>{{event.comment}}</p>
        </div>
    </div>
</div>


<div class="row centerrow">
    <div class="offset4 span8">
        <h5 class="clubtitle2">Asistentes</h5>
        {% if amINotIn %}
            <a class="btn" style="margin-bottom:20px" href="/profile/club/events/assist?event={{event.key}}">¡Asistiré!</a>
        {% endif %}
        <table class="zebra-striped sortable" style="margin-bottom:20px">
            <thead>
                <tr>
                    <th class="header blue"  style="width:50px"></th>
                    <th class="header blue" >Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for p in participants %}
                    <tr>
                        <td style="vertical-align:middle"><a href="/user/details?selectedUser={{p.user.email}}"><img class="avatar-small" src='/img?user={{p.user.email}}' alt="Avatar del usuario"></a></td>
                        <td style="vertical-align:middle"><a href="/user/details?selectedUser={{p.user.email}}">{{p.user.nickname}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
