
{% extends "profile.html" %}

{% block nav_profile_copies %} class="active" {% endblock %}

{% block profileContent %}

<a href="/profile/newcopy" class="btn">Añadir un nuevo ejemplar</a>
<a href="#" class="btn disabled">Elminar ejemplares seleccionados</a>

<table id="copiesTable" class="zebra-striped sortable">
	<thead>
		<tr>
			<th class="header blue">Título</th>
			<th class="header blue">Autor</th>
                        <th class="header blue">Estado</th>
		</tr>
	</thead>
	<tbody>
	{% for copy in copies %}
		<tr>
			<td>            
                            <a>
                                <option onclick="window.location.href='/profile/newcopy1?selectedCopyTitle={{copy.book.title}}'">
                                  {{copy.book.title}}
                                </option>
                           </a>
                          
                        </td>
			<td>{{copy.book.author}}</td>
                       {% ifequal copy.offerState "No disponible" %}
                        <td>Disponible</td>
                       {% else %}   
                        <td>{{copy.offerState}}</td>
                       {% endifequal %}
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
