{% extends "base.html" %}

{% block nav_profile %} class="active" {% endblock %}

{% block content %}

<address>
    <strong>{{user.nickname}}</strong>
    <br>
    <a mailto>{{user.email}}</a>
</address>

<ul class="tabs">
    <li {% block nav_profile_alerts    %} {% endblock %}><a href="/profile/alerts">Notificaciones</a></li>
    <li {% block nav_profile_copies    %} {% endblock %}><a href="/profile/copies">Mis libros</a></li>
    <li {% block nav_profile_offers    %} {% endblock %}><a href="/profile/offers">Ofertas</a></li>
    <li {% block nav_profile_historial %} {% endblock %}><a href="/profile/historial">Histórico</a></li>
</ul>

{% block profileContent %} {% endblock %}

{% endblock %}

