 {% extends "profile.html" %}

{% block nav_profile_copies %} class="active" {% endblock %}

{% block profileContent %}

<h6>Añadir un nuevo ejemplar de...</h6>

<div class="alert-message block-message info fade in">
    <a href="#" class="close">x</a>
    <p>¿No encuentras el libro que buscabas? <strog><a href="/book/new">Añade tu libro</a></strog> en nuestra biblioteca.</p>
</div>

{% if error %}
    <div id="error-message" class="alert-message block-message error">
        <p><strong>Error al introducir lo datos.</strong> Por favor comprueba que son correctos</p>
    </div>
{% endif %}

<div class="row">
    <form action="/profile/newcopy?selectedCopyTitle={{selectedCopy.book.title}}" method="post" id="formCopia">
        <fieldset>
            <div class="span7">
                <legend>Detalles del libro</legend>
                <br>
                <div class="clearfix media-grid centerrow">
                    <img class="thumbnail book-cover" src="{{book.image}}" alt="{{book.title}}">
                </div>
                <div class="clearfix">
                    <label for="titleBook">Título</label>
                    <div class="input">
                        <select class="xlarge" id="titleBook" name="titleBook">
                            {% for b in books %}
                                {% ifequal book.title b.title %}
                                    <option selected>{{b.title}}</option>
                                {% endifequal %}
                                {% ifnotequal b.title book.title %}
                                    <option>{{b.title}}</option>
                                {% endifnotequal %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="clearfix">
                    <label>Autor</label>
                    <div class="input">
                        <span id="autorBook" class="uneditable-input">{{book.author}}</span>
                    </div>
                </div>
                <div class="clearfix">
                    <label>Género</label>
                    <div class="input">
                        <span id="genreBook" class="uneditable-input">{{book.genre}}</span>
                    </div>
                </div>
                <div class="clearfix">
                    <label>Año</label>
                    <div class="input">
                        <span id="yearBook" class="uneditable-input">{{book.year}}</span>
                    </div>
                </div>
            </div>
            <div class="span9">
                <legend>Detalles del ejemplar</legend>
                <br>
                <div class="clearfix">
                    <label for="edicion">Edición</label>
                    <div class="input">
                        <input class="xlarge" type="number" min="1" max="5000" value="1" name="edicion" id="edicion" />
                    </div>
                </div>
                <div class="clearfix">
                    <label for="formato">Idioma</label>
                    <div class="input">
                        <select class="xlarge" name="Idioma">
                            <option>Castellano</option>
                            <option>Valenciano</option>
                            <option>Ingles</option>
                            <option>Frances</option>
                            <option>Aleman</option>
                            <option>Otro</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="paginas">Páginas</label>
                    <div class="input">
                        <input class="xlarge" value="100" type="number" min="1" max="9000" name="paginas" id="paginas"/>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="formato">Formato</label>
                    <div class="input">
                        <select class="xlarge" name="Formato">
                            <option>Bolsillo</option>
                            <option>Tapa dura</option>
                            <option>Tapa blanda</option>
                            <option>Coleccionista</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="TipoOferta">Tipo de oferta</label>
                    <div class="input">
                        <select class="xlarge" id="TipoOferta" name="TipoOferta">
                            <option value="Ninguna">Ninguna</option>
                            <option value="Venta">Venta</option>
                            <option value="Intercambio">Intercambio</option>
                            <option value="Prestamo">Prestamo</option>
                        </select>
                    </div>
                </div>
                <div id="idprecio" class="clearfix">
                    <label for="precio">Precio</label>
                    <div class="input">
                        <input class="xlarge" type="number" min="1" max="5000" value="10" name="precio" id="precio" />
                    </div>
                </div>
                <div id="idfecha" class="clearfix">
                    <label for="fechaLimite">Fecha límite</label>
                    <div class="input">
                        <input class="xlarge" type="text" name="fechaLimite" id="fechaLimite"  readonly="readonly" size="12"/>
                    </div>
                </div>
            </div>
            <div class="span16">
                <div class="actions">
                    <input type="submit" class="btn primary" value="Añadir ejemplar" />
                    <a href="/profile/copies" class="btn">Cancelar</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
