{% extends "profile.html" %}

{% block nav_profile_applications %} class="active" {% endblock %}

{% block profileContent %}
<h6> Contenido de solicitudes </h6>

<form action="/profile/applications" method="post">

	<table id="requestsTable" class="zebra-striped sortable">
		<thead>
			<tr>
				<th class="header blue"></th>
				<th class="header blue">Título</th>
				<th class="header blue">Autor</th>
				<th class="header blue">Propietario</th>
				<th class="header blue">Estado</th>
				<th class="header blue">Tipo transacci&oacuten</th>
				<th class="header blue"></th>
			</tr>
		</thead>
		<tbody>
		 {% for request in requests %}
         	   <tr>
            	    <td><input type="radio" name="RequestRadios" value="{{request.req.state}}"
			       onclick="window.location.href='/profile/applicationcontent?requestKey={{request.req.key}}'"></td>
                	<td class="request-copy-column">{{request.req.copy.book.title}}</td>
                	<td>{{request.req.copy.book.author}}</td>
                	<td class="request-owner-column"><a href="/user/details?selectedUser={{request.req.copy.user.email}}">{{request.req.copy.user}}</a></td>
                	<td>{{request.req.state}}</td>
			<td>{{request.req.copy.offerType}}</td>
                	<td>
				{% ifequal request.req.state 'Rechazada' %}
					<a href="#" class="btn">Eliminar de la lista</a>
				{% else %}
                {% ifequal request.cmtCount 0 %}
                    <p>No hay mensajes nuevos</p>
                {% else %}
                    {% ifequal request.cmtCount 1 %}
                        <p><strong>Un mensaje nuevo</strong></p>
                    {% else %}
                        <p><strong>{{request.cmtCount}} mensajes nuevos</strong></p>
                    {% endifequal %}
                {% endifequal %}
				{% endifequal %}
			</td>
            	</tr>
            	{% endfor %}
		</tbody>
	</table>
</form>
	{% block application_content %}

	 {% endblock %}



{% endblock %}
