 {% extends "profile.html" %}

{% block nav_profile_club %} class="active" {% endblock %}
<!-- Activar el nav_profile_clubs  cuando este hecho -->

{% block profileContent %}

<h6>En construccion Nuevo Club</h6>


{% if error %}
    <div id="error-message" class="alert-message block-message error">
        <p><strong>Error al introducir lo datos. {{textoerror}} {{campos}} </strong> Por favor comprueba que son correctos</p>
    </div>
{% endif %}



<div class="row">
    <form action="/profile/club/new" method="post" id="formClub">
        <fieldset>
                
                <legend>Detalles del Club</legend>
                
                <br>
	                <div class="clearfix">
	                    <label for="nameClub">Nombre</label>
	                    <div class="input">
	                      <input data-placement="right" rel='twipsy' title="Este Club ya existe" class="xlarge" id="nombreClub" name="nombreClub" size="90" type="text">
	                    </div>
	                </div>
                    <div class="clearfix">
                       <label for="description">Descripcion</label>
                       <div class="input">
                       <textarea class="xlarge" id="description" name="description" rows="3"></textarea>
                       <span class="help-block">
                        Descripcion del Club que desea Crear.
                       </span>
                    </div>
                   </div>

				<div class="clearfix">
                    <label for="image">Imágen</label>
                    <div class="input">
                        <input class="xlarge" id="image" name="image" type="text" value="http://" size="90"/>
                    </div>
                </div>

                    <div class="clearfix">
                       <label id="optionsGener">Generos</label>
                        <div class="input" >
                         <select multiple="multiple" id= "optionsGeners" name ="optionsGeners">
                            <option value= "CienciaF">Ciencia Ficción</option>
                            <option value= "Novela">Novela</option>
                            <option value="Poesia">Poesía</option>
                            <option value="Narrativa">Narrativa</option>
                            <option value= "Biografia">Biografía</option>
                            <option value= "Aventuras">Aventuras</option>
                            <option value= "Ensayo">Ensayo</option>
                            <option value= "Historico">Histórico</option>
                         </select>
                        </div>
                       </label>
                    </div>
                     <div class="clearfix">
                        <div class= "input hide">
                            <input class="medium" type="text"  name="resultado" id="resultado">
                        </div>
                    </div>
                 <!--         <ul class="inputs-list" id="opciones-genero"  >
                            <li>
                              <label>
                              <input name="optionsGener" id="optionsGener" value="poesia" type="checkbox">
                              <span>Poesía</span>
                              </label>
                            </li>
                            <li>
                              <label>
                              <input name="optionsGener" id="optionsGener" value="narrativa" type="checkbox">
                              <span>Narrativa</span>
                              </label>
                            </li>

                          <li>
                           <label>
                           <input name="optionsGener" id ="optionsGener" value="cienciaF" type="checkbox">
                           <span>Ciencia Ficción</span>
                           </label>
                         </li>

                            <li>
                            <div class="input hide">
                            <input class="medium" type="text"  name="selectedGener" id="selectedGener">
                            </div>
                        </li>
                       </ul>
                    </div>
                   </div>-->

                <!-- Se quita, ya se pone si queremos en el nombre o descripcion
                <div class="clearfix">
                    <label>Autores</label>
                     <div class="input">
                      <input class="xlarge" type="text"  name="autores" id="autores" />
                    </div>
                </div>-->
                <div class="clearfix">
                    <label>Libros</label>
                     <div class="input">
                      <select class="xlarge" id="libros" name="libros">
                            	<option>Ninguno</option>
                            {% for b in books %}
                                <option {% ifequal book.title b.title %}selected{% endifequal %}>{{b.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="clearfix">
                    <label>Invitaciones</label>
                      <div class="invitados input hide">
                          <img class="avatar-tiny" src='/img?user=' alt="Avatar del usuario">
                          <span class="medium">Nombre</span>
                          (<a href="#" class="eliminar-invitado">eliminar</a>)
                      </div>
                       <div class="input">
                          <div class="input-prepend">
                            <span class="add-on"><a id="nuevo-invitado" href="#">Añadir</a></span>
                            <input class="medium" type="text"  name="invitacion" size="16" id="invitacion">
                          </div>
                        </div>
                       <div class="input hide">
                            <input class="medium" type="text"  name="invitaciones" id="invitaciones">
                        </div>

                </div>
             </div>
          </div>
      <div class="span16">
                <div class="actions">
                    <input type="submit" class="btn primary" value="Crear Club" />
                    <a href="/profile/club" class="btn">Cancelar</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
