{% extends "profile.html" %}

{% block nav_profile_club %} class="active" {% endblock %}

{% block profileContent %}

<h5>Club {{selectedClub.name}}</h5>

<div class="row">
    <div class="span8">
        <h6>Eventos</h6>
    </div>
    <div class="span8">
        <h6>Comentarios</h6>
    </div>
</div>
<div class="row">
    <div class="span16">
        <h6>Participantes</h6>
        <table id="participantsTable" class="zebra-striped sortable">
            <thead>
                <tr>
                    <th class="header blue">Avatar</th>
                    <th class="header blue">Nombre</th>
                    <th class="header blue">Estado</th>
                    {% ifequal selectedClub.owner user %}
                        <th class="header blue">Acciones</th>
                    {% endifequal %}
                </tr>
            </thead>
            <tbody>
                {% for participation in participations %}
                    <tr>
                        <td style="vertical-align:middle"><img class="avatar" src='/img?user={{participation.user}}' alt="Avatar del usuario"></td>
                        <td style="vertical-align:middle">{{participation.user.nickname}}</td>
                        <td style="vertical-align:middle">{{participation.state}}</td>
                        {% ifequal selectedClub.owner user %}
                            <td style="vertical-align:middle">
                            {% ifequal participation.state 'Invitado' %}
                                <input type="submit" class="btn primary small" name="Aceptar" value="Aceptar">
                                <input type="submit" class="btn small" name="Rechazar" value="Rechazar">
                            {% endifequal %}
                            </td>
                        {% endifequal %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
