{% extends "profile.html" %}

{% block nav_profile_offers %} class="active" {% endblock %}

{% block profileContent %}


    <h6> Contenido de las ofertas </h6>
    <div class="row">
        <div class="span4">
            <label for="selectOfferredBook" style="color: #268BD2"> Select Offerred Book: </label>
                <div class="clearfix">
                  <div class="input">
                        <select multiple="multiple" size="20" name="offerSelection" id="offerSelection">        
                            {% for copy in copies %}
                                <option onclick="window.location.href='/profile/copyoffers?selectedCopyTitle={{copy.book.title}}'">
                                    {{copy.book.title}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
        </div>
        <div class="span12">
            {% block copy_offers %} {% endblock %}
        </div>
    </div>



{% endblock %}