
{% extends "profile.html" %}

{% block nav_profile_alerts %} class="active" {% endblock %}
{% block profileContent %}
<h6> Contenido de notificaciones </h6>
<h6 style="font-size:11px;"> Las notificaciones se eliminaran automaticamente al cabo de 10 dias. </h6>
{% if alerts %}
<table id="clubsTable" class="zebra-striped sortable">

	<thead>
		<tr>
			<th class="header blue">Fecha</th>
			<th class="header blue">Tipo</th>
			<th class="header blue">Descripcion</th>
                        <th class="header blue">Dias restantes</th>
                        <th class="header blue">Acciones</th>

          </tr>
	</thead>
	<tbody>
            
            	{% for res in alerts %}
		<tr>
			<td>{{res.date}}</td>
			<td>{{res.type}}</td>
			<td>{{res.description}}</td>
			<td>{{res.remainder}}</td>
			<td>
			{%if res.relatedClub %}
			<a class="btn primary" href="/profile/club/content?selectedClub={{res.relatedClub.key}}">Detalles</a></td>
			{%endif%}
			{%if res.relatedCopy %}
                            {% ifequal res.type 'Fecha oferta excedida' %}
                                <a class="btn primary" href="/profile/editcopy?selected={{res.relatedCopy.key}}">Detalles</a>
                            {% else %}
                                <a class="btn primary" href="/profile/copyoffers?selectedCopy={{res.relatedCopy.key}}">Detalles</a>
                            {% endifequal %}
			{%endif%}
			{%if res.relatedApp %}
			<a class="btn primary" href="/profile/applications">Detalles</a>
		        {%endif%}
			</td>
		</tr>
                {% endfor %}
        </tbody>

</table>
{%endif%}
{% endblock %}
