
{% extends "profile.html" %}

{% block nav_profile_historialRequest %} class="active" {% endblock %}

{% block profileContent %}
<h6> Contenido del historial </h6>
<div class="container-fluid">
<div class="sidebar">
<form action="/profile/historialRequest" method="post">

                    <label for="formato">Transaccion</label>
                    <div class="input">
                        <!--<select onchange="this.form.action = this.value; this.disabled = true; this.form.submit()" >-->
                        <select class="xlarge" name="Transaccion" id="Transaccion" onchange="this.form.submit()">
                            <option {% ifequal selected 'Prestamos' %}selected{% endifequal %}>Prestamos</option>
                            <option {% ifequal selected 'Intercambio' %}selected{% endifequal %}>Intercambio</option>
                            <option {% ifequal selected 'Venta' %}selected{% endifequal %}>Venta</option>
                        </select>
                    </div>
               
			


</div>

</div>
<div class="content">
<h3><center><h3>Resultados de la Transacción</h3></center></h3>

<table id="resTable" class="zebra-striped sortable">

	<thead>
		<tr>
			<th class="header blue" style="width: 75px;">Libro</th>
            <th class="header blue" style="width: 170px;">Propietario</th>
            <th class="header blue" style="width: 170px;">Demandante</th>
            <th class="header blue" style="width: 170px;">Estado</th>
            <th class="header blue" style="width: 170px;">Tipo de Transacción</th>
			<th class="header blue" style="width: 50px;">Fecha de intercambio</th>
			
			
		</tr>
	</thead>
	<tbody>
	{% for res in trans%}
		<tr>
			
			<td>{{res.copy.book.title}}</td>
            <td>{{res.initialUser}}</td>
            <td>{{res.appliant}}</td>
            <td>{{res.state}}</td> 
            <td>{{res.initialOfferType}}</td> 
			<td>{{res.date}}</td>
            
			
		</tr>
	{% endfor %}
	</tbody>
</table>


</div>

</div>

{% endblock %}


			
