 {% extends "profile.html" %}

{% block nav_profile_club %} class="active" {% endblock %}
<!-- Activar el nav_profile_clubs  cuando este hecho -->

{% block profileContent %}

<h6>Editar club..</h6>

{% if error %}
<div class="row">
    <div class="alert-message block-message error span16">
	    <p>Error al editar los datos del Club.
	       </p>
    </div>
</div>
{% else %}
 {% if errorrepeat %}
<div class="row">
    <div class="alert-message block-message error span16">
	    <p>El nombre de Club ya existe.
	       </p>
    </div>
</div>
 {% else %} 
 {% endif %}
{% endif %}
<div class="row">
    <form action="/profile/club/edit?selectedClub={{selectedClub.key}}" method="post">
    
        <fieldset>
            <div class="span7">
                <legend>Detalles del Club</legend>
                <br>
                <!--<div class="clearfix media-grid centerrow">
                    <img class="thumbnail book-cover" src="{{book.image}}" alt="{{book.title}}">
                </div>-->
                <div class="clearfix">
                    <label for="nameClub">Nombre</label>
                    <div class="input">
                      <!--<input data-placement="right" rel='twipsy' title="Este Club ya existe" class="xlarge" id="nombreClub" name="nombreClub" value ="{{selectedClub.name}}" size="90" type="text">-->
                      <input class="xlarge" type="text"  name="nombreClub" id="nombreClub" value= "{{selectedClub.name}}" />
                    </div>
                    <div>
                    <div class="clearfix">
                       <label for="description">Descripcion</label>
                       <div class="input">
                       <textarea class="xlarge" id="description" name="description" rows="3">{{selectedClub.description}}</textarea>
                       <span class="help-block">
                        Descripcion del Club que desea Crear.
                       </span>
                    </div>
                   </div>
                   
                <div class="clearfix media-grid centerrow">
					<img class="thumbnail book-cover" src="{{selectedClub.image}}" alt="{{selectedClub.name}}">
				</div>
				
				<div class="clearfix">
                    <label for="image">Cambiar Imágen</label>
                    <div class="input">
                        <input class="xlarge" id="image" name="image" type="text" value="{{selectedClub.image}}" size="90"/>
                    </div>
                </div>
                  	
                    <div class="clearfix">
                       <label id="optionsGener">Generos</label>
                        <div class="input" >
                         <select multiple="multiple" id= "optionsGeners" name ="optionsGeners">                            
                            <option value= "CienciaF" {% for g in selectedClub.genre %}{% ifequal g 'CienciaF' %}selected{% endifequal %}{% endfor %}>Ciencia Ficción</option> 
                            <option value= "Novela" {% for g in selectedClub.genre %}{% ifequal g 'Novela' %}selected{% endifequal %}{% endfor %}>Novela</option> 
                            <option value="Poesia" {% for g in selectedClub.genre %}{% ifequal g 'Poesia' %}selected{% endifequal %}{% endfor %}>Poesía</option> 
                            <option value="Narrativa" {% for g in selectedClub.genre %}{% ifequal g 'Narrativa' %}selected{% endifequal %}{% endfor %}>Narrativa</option> 
                            <option value= "Biografia" {% for g in selectedClub.genre %}{% ifequal g 'Biografia' %}selected{% endifequal %}{% endfor %}>Biografía</option>  
                            <option value= "Aventuras" {% for g in selectedClub.genre %}{% ifequal g 'Aventuras' %}selected{% endifequal %}{% endfor %}>Aventuras</option> 
                            <option value= "Ensayo" {% for g in selectedClub.genre %}{% ifequal g 'Ensayo' %}selected{% endifequal %}{% endfor %}>Ensayo</option> 
                            <option value= "Historico" {% for g in selectedClub.genre %}{% ifequal g 'Historico' %}selected{% endifequal %}{% endfor %}>Histórico</option> 
                         </select>
                        </div>
                       </label>
                    </div>
                     <div class="clearfix">
                        <div class= "input hide">
                      
                            <input class="medium" type="text"  name="resultado" id="resultado">
                        </div>          
                    </div>
        
                    
            
                <div class="clearfix">
                    <label>Autores</label>
                     <div class="input">
                      <input class="xlarge" type="text"  name="autores" id="autores" value= "{{selectedClub.author}}" />
                    </div>
                </div>
                <div class="clearfix">
                    <label>Libros</label>
                     <div class="input">
                      <input class="xlarge" type="text"  name="libros" id="libros" value= "{{selectedClub.book.title}}"/>
                    </div>
                </div>

                 <div class="clearfix">
                    <label>Invitados</label>
                    <div class="input">
                     <select multiple= "multiple" size="2" name="invitados" id="invitados">
                        {% for inv in selectedClub.invitaciones %}
                       <option> {{inv}} </option>
                        {% endfor %}
                       </select>
                    </div>
                </div>

                <div class="clearfix">
                    <label>Invitaciones</label>
                      <div class="invitados input hide">
                        <span class=" uneditable-input medium">Nombre</span>
                      </div>
                       <div class="input">
                          <div class="input-prepend">
                            <span class="add-on"><a id="nuevo-invitado" href="#">Añadir</a></span>
                            <input class="medium" type="text"  name="invitacion" size="16" id="invitacion">
                          </div>
                        </div>   
                       <div class="input hide">
                            <input class="medium" type="text"  name="invitaciones" id="invitaciones">
                        </div>          

                </div>
             </div>
          </div>
          <div class="span16">
                <div class="actions">
                    <input type="submit" class="btn primary" value="Guardar Cambios" />
                    <a href="/profile/club" class="btn">Cancelar</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
