
{% extends "profile.html" %}

{% block nav_profile_club %} class="active" {% endblock %}

{% block profileContent %}

<a href="/profile/club/new" class="btn">Crear un Nuevo Club</a>
<p></p>

<table id="clubsTable" class="zebra-striped sortable">
	<thead>
		<tr>
			<th class="header blue">Portada</th>
			<th class="header blue">Nombre</th>
			<th class="header blue">Creador</th>
			<th class="header blue">Estado</th>
			<th class="header blue">Descripcion</th>
			<th class="header blue">Acciones</th>
          </tr>
	</thead>
	<tbody>
	{% for club in clubs %}
		<tr>
			<td style="vertical-align:middle"><img align="center" class="thumbnail book-cover" src="{{club.image}}" alt="{{club.name}}"></td>
			<td style="vertical-align:middle">				
				<a href="/profile/club/content?selectedClub={{club.key}}">
					{{club.name}}
				</a>
				<span class="hide key">{{club.key}}</span>
			</td>
			<td style="vertical-align:middle">
				{% ifequal club.owner user %}
					Yo
				{% else %}
					{{club.author}}
				{% endifequal %}
			</td>
			<td style="vertical-align:middle">{{club.state}}</td>
			<td style="vertical-align:middle">{{club.description}}</td>
			<td style="vertical-align:middle">
				{% ifequal club.owner user %}
					<p><a href="/profile/club/edit?selectedClub={{club.key}}">Editar</a></p>
					{% ifequal club.state 'Habilitado' %}
						<p><a id="disable-club-link" href="#"><span class="hide">{{club.key}}</span>Deshabilitar</a></p>
					{% endifequal %}
					{% ifequal club.state 'Deshabilitado' %}
						<p><a id="enable-club-link" href="#"><span class="hide">{{club.key}}</span>Habilitar</a></p>
					{% endifequal %}
				{% endifequal %}
				{% ifnotequal club.owner user %}<p><a href="/profile/club/deleteparticipation?selectedClub={{club.key}}">Dar de baja</a></p>{% endifnotequal %}
				
			</td>	
           
		</tr>
	{% endfor %}
	</tbody>
</table>
<div class="alert-message block-message info loading">
	<p><img src="/static/img/loading.gif"/></p>
</div>

<div id="modal-disable-club" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">x</a>
		<h3>Desactivar</h3>
	</div>
	<div class="modal-body">
		<p>¿Estás seguro de desactivar este club?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Aceptar</a>
	</div>
</div>
<div id="modal-enable-club" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">x</a>
		<h3>Activar</h3>
	</div>
	<div class="modal-body">
		<p>¿Estás seguro de activar este club?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Aceptar</a>
	</div>
</div>
{% endblock %}
