
{% extends "profile.html" %}

{% block nav_profile_copies %} class="active" {% endblock %}

{% block profileContent %}

<a href="/profile/newcopy" class="btn">Añadir un nuevo ejemplar</a>
<a href="#" id="remove-copies-button" class="btn disabled">Elminar ejemplares seleccionados</a>

<table id="copiesTable" class="zebra-striped sortable">
	<thead>
		<tr>
			<th class="header blue littlepadding"></th>
			<th class="header blue">Portada</th>
			<th class="header blue">Título</th>
			<th class="header blue">Autor</th>
			<th class="header blue">Estado</th>
		</tr>
	</thead>
	<tbody>
	{% for copy in copies %}
		<tr>
			<td style="vertical-align:middle" class="nopadding centerrow"> <input type="checkbox"></td>
			<td style="vertical-align:middle"><img align="center" class="thumbnail book-cover" src="{{copy.book.image}}" alt="{{copy.book.title}}"></td>
			<td style="vertical-align:middle">				
				<a href="/profile/editcopy?selected={{copy.key}}">
					{{copy.book.title}}
				</a>
				<span class="hide key">{{copy.key}}</span>
			</td>
			<td style="vertical-align:middle">{{copy.book.author}}</td>
			{% ifequal copy.offerState "No disponible" %}
				<td style="vertical-align:middle">Disponible</td>
			{% else %}
				<td style="vertical-align:middle">{{copy.offerState}}</td>
			{% endifequal %}
		</tr>
	{% endfor %}
	</tbody>
</table>
<div class="alert-message block-message info loading">
	<p><img src="/static/img/loading.gif"/></p>
</div>

<div id="modal-remove" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">x</a>
		<h3>Título</h3>
	</div>
	<div class="modal-body">
		<p>¿Estás seguro de eliminar los elementos seleccionados?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Aceptar</a>
	</div>
</div>
{% endblock %}
