<label for="mislibros"></label>
 {% extends "profile.html" %}

{% block nav_profile_copies %} class="active" {% endblock %}

{% block profileContent %}



<div class="row">
	<div class="span4">
		<h6>Añadir un nuevo libro</h6>
		<div class="alert-message block-message warning fade in">
			<a href="#" class="close">x</a>
			<p>Ten en cuenta que el libro debe ser admitido por un administrador antes de que aparezca en nuestra biblioteca.</p>
		</div>
	</div>
	<div class="span12">
		<form action="/profile/book" method="post">
			<fieldset>
				<legend>Nuevo libro</legend>
				<div class="clearfix">
					<label for="title">Título</label>
					<div class="input">
						<input class="xlarge" id="title" name="title" size="90" type="text">
					</div>
				</div>
				<div class="clearfix">
					<label for="author">Autor</label>
					<div class="input">
						<input class="xlarge" id="author" name="author" size="90" type="text">
					</div>
				</div>
				<div class="clearfix">
					<label for="genre">Género</label>
					<div class="input">
						<input class="xlarge" id="genre" name="genre" size="90" type="text">
					</div>
				</div>
				<div class="actions">
					<input type="submit" class="btn primary" value="Añadir ejemplar">
					<a href="/profile/copies" class="btn">Cancelar</a>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}
