
{% extends "base.html" %}

{% block nav_search %} class="active" {% endblock %}

{% block content %}

<div class="container-fluid">
<div class="sidebar">
<form action="/search" method="get" align="left">


			<div class = row >
					Nombre:
					<input type="text" name="title" placeholder="Introduce un nombre"</input>
			</div>

			<div class = row>
					Autor:
					<input type="text" name="author" placeholder="Introduce un autor"</input>
			</div>

			<div class = row>
					Editorial:
					<input type="text" name="publisher" placeholder="Introduce una editorial"</input>
			</div>

			<div class = row align=left>
			                 Genero:


			              <select name="genre" id="genre">
						<option>------</option>
						<option>Novela</option>
						<option>Aventuras</option>
						<option>Poesia</option>
						<option>Historico</option>
						<option>Ciencia Ficcion</option>
						<option>Romantico</option>
						<option>Ensayo</option>
			               </select>

			</div>

			<div class = row >
					Anyo:
					<p>
					<input class="span2" name="yearFrom" type="text" placeholder="Desde" </input>
					---
					<input class="span2" name="yearTo" type="text" placeholder="Hasta" </input>
					</p>
			</div>
			<div class = row>
			     <p align="left"> Disponible por...</p>


                  <label>
				    <p>intercambio <input type="checkbox" name="optionsExchange"/></p>
                  </label>



                  <label>
				  <p>prestamo <input type="checkbox" name="optionsRent"/></p>
                    </label>



                  <label>
				  <p>venta <input type="checkbox" name="optionsSell"/></p>


                  </label>
			</div>

			<div class = row>
			______________________________

			     <input type="submit" class="span4 btn primary" value="Buscar">
			</form>
		    </div>



</div>
<div class="content">
<h3><center><h3>Resultados de la busqueda:</h3></center></h3>
<table id="resTable" class="zebra-striped sortable">
	<thead>
		<tr>
			<th class="header blue" style="width: 195px;">Titulo</th>
			<th class="header blue" style="width: 170px;">Autor</th>
			<th class="header blue" style="width: 50px;">Anyo</th>
			<th class="header blue" style="width: 85px;">Genero</th>
			<th class="header blue" style="width: 110px;"></th>
		</tr>
	</thead>
	<tbody>
	{% for res in results %}
		<tr>
			<td>{{res.title}}</td>
			<td>{{res.author}}</td>
			<td>{{res.date}}</td>
			<td>{{res.genre}}</td>
			<td><a class="btn primary" href="/book/details?book={{res.key}}">Detalles</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

</div>

</div>






{% endblock %}
