{% extends "profileOffers.html" %}

{% block transaction %}
    
<form action="/profile/transaction" method="post">
<input type="hidden" id="selectedCopy" name="selectedCopy" value={{selectedCopy.key}}>
<input type="hidden" id="requestKey" name="requestKey" value={{request.key}}>

{% ifequal selectedCopy.offerType "Intercambio" %}
    
    <p><strong>Tipo de transacci&oacuten: </strong>{{selectedCopy.offerType}}</p>
    <p><strong>Tipo de intercambio: </strong>{{request.exchangeType}}</p>
    <p><strong>Libro:</strong> {{selectedCopy.book.title}}</p>
    <p><strong>Intercambiado a:</strong> {{request.user}}</p>

    {% ifequal request.exchangeType "Indirecto" %}
        <p><strong>Esperando que {{request.user}} reciba el libro... </p>
    {% else %}
        <p><strong>Por:</strong> {{request.exchangeCopy.book.title}}</p>
        {% if request.llegaCopia2 %}
            <p><strong>Esperando que {{request.user}} reciba el libro... </p>
        {% else %}
            <p><strong>Para que el intercambio quede completado, debe hacer click aqu&iacute cuando reciba el libro. </p>
                <div style="text-align: center">
                    <input type="submit" class="btn primary" name="saveDateForExchange" value="Ya he recibido el libro">
                </div>
        {% endif %}
    {% endifequal %}
{% endifequal %}

{% ifequal selectedCopy.offerType "Venta" %}
    <p><strong>Tipo de transacci&oacuten: </strong>{{selectedCopy.offerType}}</p>
    <p><strong>Libro:</strong> {{selectedCopy.book.title}}</p>
    <p><strong>Vendido a:</strong> {{request.user}}</p>
    <p><strong>Esperando a que {{request.user}} reciba el libro... </p>
{% endifequal %}


{% ifequal selectedCopy.offerType "Prestamo" %}
    <p><strong>Tipo de transacci&oacuten: </strong>{{selectedCopy.offerType}}</p>
    <p><strong>Libro:</strong> {{selectedCopy.book.title}}</p>
    <p><strong>Prestado a:</strong> {{request.user}}</p>
    
    {% ifequal selectedCopy.offerState "Esperando recepcion" %}
        <p><strong>Esperando que {{request.user}} reciba el libro... </p>
    {% else %}
        <p><strong>Para que el pr&eacutestamo quede completado, debe hacer click aqu&iacute cuando su libro le sea devuelto. </p>
        <div style="text-align: center">
            <input type="submit" class="btn primary" name="saveDateForLoan" value="Ya me han devuelto el libro">
        </div>
    {% endifequal %}
{% endifequal %}

</form>
{% endblock %}