{% extends "base.html" %}

{% block nav_user %} class="active" {% endblock %}

{% block content %}

<address>
    <strong>{{user.nickname}}</strong>
    <br>
    <a mailto>{{user.email}}</a>
</address>

<h6>Mis libros</h6>
<table class="zebra-striped sortable">
    <thead>
        <tr>
            <th class="blue header">Título</th>
            <th class="blue header">Autor</th>
        </tr>
    </thead>
    {% for copy in copies %}
        <tr>
            <th>{{ copy.book.title }}</th>
            <th>{{ copy.book.author }}</th>
        </tr>
    {% endfor %}
</table>
{% endblock %}

