
body {
    padding-top: 40px;
}

#main-container {
    padding-top: 25px;
}

#logo {
    text-indent: -999ex;
    display: block;
    width: 85px;
    height: 34px;
    background-image: url("/static/img/logo.png");
    padding: 0;
}

#copiesTable {
    margin-top: 20px;
}

table th {
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
}

thead th {
    font-weight: bold;
}

.nopadding {
    padding: 0;
}

.littlepadding {
    padding: 5px;
}

.centerrow {
    text-align: center;
    padding-top: 9px;
}

.avatar {
    width: 90px;
    height: 90px;
}

.avatar-small {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-left: 0px;
}

.book-cover {
    width: 90px;
    height: 110px;
}

.loading {
    text-align: center;
}

.clubtitle {
    text-align: center;
    font-variant: small-caps;
    color: black;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
}

.clubtitle2 {
    text-align: center;
    font-variant: small-caps;
    color: #AAA;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
}

