
body {
    padding-top: 40px;
}

#main-container {
    padding-top: 25px;
}

#logo {
    text-indent: -999ex;
    display: block;
    width: 85px;
    height: 34px;
    background-image: url("/static/img/logo.png");
    padding: 0;
}

#copiesTable {
    margin-top: 20px;
}

table th {
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
}

thead th {
    font-weight: bold;
}

.nopadding {
    padding: 0;
}

.littlepadding {
    padding: 5px;
}
.centerrow {
    text-align: center;
    padding-top: 9px;
}

